@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;469;500;600;700&family=Rambla:ital,wght@0,400;0,700;1,400;1,700&family=Staatliches&display=swap');

html {
        scroll-behavior: smooth;
      }

body {
    margin:0;
    padding:0;
}

:root{
    --color-black:#000000;
    --color-white: #ffffff;
    --color-border: #ffffff34;
    --font-staat:'Staatliches', cursive;
    --font-os: 'Oswald', sans-serif;
    --font-ram: 'Rambla', sans-serif;
}

/*global classes*/

.font-staat{
    font: normal 400 18px var(--font-staat);
}
.font-os{
    font: normal 300 18px var(--font-os);
}
.font-ram{
    font: normal bold 18px var(--font-ram);
}

.font-size-40 {
    font-size: 40px;
}
.font-size-34 {
    font-size: 34;
}
.font-size-27 {
    font-size: 27px;
}
.font-size-20 {
    font-size: 20px;
}
.font-size-18 {
    font-size: 18px;
}
.font-size-16 {
    font-size: 16px;
}


.bgcolor-black{
    background-color:var(--color-black);
}


/*#global classes*/

#header {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 0;
    transition:left .5s ease;
}

#header nav{
    height: 100vh;
}

#header .site-title .navbar-brand {
    letter-spacing: 2px;
    color: var(--color-white)
}

#header .nav-link {
    margin:0.7rem 1rem;
    border-bottom: 1px solid var(--color-border);
    text-transform: uppercase;
}

#header .nav-link:hover {
    color: var(--color-white)!important;
}

#header .toggle-button {
    background:none;
    color: var(--color-black);
    position: fixed;
    top: 25px;
    right:20px;
    border: 1px solid var(--color-border);
}

.toggle-left{
    left:0!important;
    /*width:1000px!important;*/
}

/*site-main*/
/* .site-banner {
    background-color: var(--color-black);
} */
.site-banner .banner-area {
    background:url(./assets/img/bg-cover.jpg)no-repeat;
    background-size: cover;
    width:100%;
    height:100vh;
    /* opacity: 0.6; */
    position:relative;
}
.site-banner .banner-area .author{
    margin:0;
    position:absolute;
    top:45%;
    left:50%;
    /* color: var(--color-black); */
    transform:translate(-50%,-50%);
}

.site-banner .banner-area .author .author-img {
    width:200px;
    height: 200px;
    border-radius:50%;
    margin: auto;
    background:url(./assets/img/avatar/1.jpg)no-repeat;
    background-size:200%!important;
    background-position: 80% 40%!important; 
    transition: all .3s ease-out;
    z-index:9999;
    border: 15px solid transparent;
}
/* .site-banner .banner-area .author .author-img:hover{
    transform:transition(1.5);
} */

.site-banner .banner-area .author a{
    position:relative;
}
.site-banner .banner-area .author a:hover:before {
    -webkit-animation: none;
    animation:none;
}
.site-banner .banner-area .author a::before {
    content: "";
    border: 90px solid rgba(255,255,255,0.6);
    border-radius: 50%;
    /* height: 120px; */
    /* width: 120px; */
    position: absolute;
    left: -90px;
    bottom: -15px; 
    /* transform: translate(-50px, -50px); */
    -webkit-animation: pulsate 1.6s ease-out;
    animation: pulsate 1.6s ease-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    opacity: 0.0;
    z-index: -1;
}

@-webkit-keyframes pulsate {
    0% {
      -webkit-transform: scale(0.6, 0.6);
              transform: scale(0.6, 0.6);
      opacity: 0.0;
    }
    50% {
      opacity: 1.0;
    }
    100% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
      opacity: 0.0;
    }
  }
  @keyframes pulsate {
    0% {
      -webkit-transform: scale(0.6, 0.6);
              transform: scale(0.6, 0.6);
      opacity: 0.0;
    }
    50% {
      opacity: 1.0;
    }
    100% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
      opacity: 0.0;
    }
  }
  
.skill.bars p.site-content.skill.bars span {
    line-height:10px;
}

#footer form .row .col input[type="text"],
#footer form .row .col input[type="email"],
#footer form textarea {
    border: none;
    border-radius:0;
    border-bottom: 1px solid gray;
    padding:1.5rem 1rem;

}

@media screen and (min-width: 768px){
    .toggle-button{
        display:none;
    }
}
/* #site-main */@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;469;500;600;700&family=Rambla:ital,wght@0,400;0,700;1,400;1,700&family=Staatliches&display=swap');

body {
    margin:0;
    padding:0;
}

:root{
    --color-black:#000000;
    --color-white: #ffffff;
    --color-border: #ffffff34;
    --font-staat:'Staatliches', cursive;
    --font-os: 'Oswald', sans-serif;
    --font-ram: 'Rambla', sans-serif;
}

/*global classes*/

.font-staat{
    font: normal 400 18px var(--font-staat);
}
.font-os{
    font: normal 300 18px var(--font-os);
}
.font-ram{
    font: normal bold 18px var(--font-ram);
}

.font-size-40 {
    font-size: 40px;
}
.font-size-34 {
    font-size: 34;
}
.font-size-27 {
    font-size: 27px;
}
.font-size-20 {
    font-size: 20px;
}
.font-size-18 {
    font-size: 18px;
}
.font-size-16 {
    font-size: 16px;
}


.bgcolor-black{
    background-color:var(--color-black);
}


/*#global classes*/

#header {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 0;
    transition:left .5s ease;
}

#header nav{
    height: 100vh;
}

#header .site-title .navbar-brand {
    letter-spacing: 2px;
    color: var(--color-white)
}

#header .nav-link {
    margin:0.7rem 1rem;
    border-bottom: 1px solid var(--color-border);
    text-transform: uppercase;
}

#header .nav-link:hover {
    color: var(--color-white)!important;
}

#header .toggle-button {
    background:none;
    color: var(--color-black);
    position: fixed;
    top: 25px;
    right:20px;
    border: 1px solid var(--color-border);
}

.toggle-left{
    left:0!important;
    /*width:1000px!important;*/
}

/*site-main*/
/* .site-banner {
    background-color: var(--color-black);
} */
.site-banner .banner-area {
    background:url(./assets/img/bg-cover.jpg)no-repeat;
    background-size: cover;
    width:100%;
    height:100vh;
    /* opacity: 0.6; */
    position:relative;
}
.site-banner .banner-area .author{
    margin:0;
    position:absolute;
    top:45%;
    left:50%;
    /* color: var(--color-black); */
    transform:translate(-50%,-50%);
}

.site-banner .banner-area .author .author-img {
    width:200px;
    height: 200px;
    border-radius:50%;
    margin: auto;
    background:url(./assets/img/avatar/1.png)no-repeat;
    /* background-size:200%; */
    background-position: 40% 0; 
    transition: all .3s ease-out;
    z-index:9999;
    border: 15px solid transparent;
}
/* .site-banner .banner-area .author .author-img:hover{
    transform:transition(1.5);
} */

.site-banner .banner-area .author a{
    position:relative;
}
.site-banner .banner-area .author a:hover:before {
    -webkit-animation: none;
    animation:none;
}
.site-banner .banner-area .author a::before {
    content: "";
    border: 70px solid rgba(255,255,255,0.6);
    border-radius: 50%;
    /* height: 120px; */
    /* width: 120px; */
    position: absolute;
    left: -72px;
    /* bottom: 0px; */
    /* transform: translate(-50px, -50px); */
    -webkit-animation: pulsate 1.6s ease-out;
    animation: pulsate 1.6s ease-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    opacity: 0.0;
    z-index: -1;
}

@-webkit-keyframes pulsate {
    0% {
      -webkit-transform: scale(0.6, 0.6);
              transform: scale(0.6, 0.6);
      opacity: 0.0;
    }
    50% {
      opacity: 1.0;
    }
    100% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
      opacity: 0.0;
    }
  }
  @keyframes pulsate {
    0% {
      -webkit-transform: scale(0.6, 0.6);
              transform: scale(0.6, 0.6);
      opacity: 0.0;
    }
    50% {
      opacity: 1.0;
    }
    100% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
      opacity: 0.0;
    }
  }
  
.skill.bars p.site-content.skill.bars span {
    line-height:10px;
}

#footer form .row .col input[type="text"],
#footer form .row .col input[type="email"],
#footer form textarea {
    border: none;
    border-radius:0;
    border-bottom: 1px solid gray;
    padding:1.5rem 1rem;

}

@media screen and (min-width: 768px){
    .toggle-button{
        display:none;
    }
}
/* #site-main */@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;469;500;600;700&family=Rambla:ital,wght@0,400;0,700;1,400;1,700&family=Staatliches&display=swap');

body {
    margin:0;
    padding:0;
}

:root{
    --color-black:#000000;
    --color-white: #ffffff;
    --color-border: #ffffff34;
    --font-staat:'Staatliches', cursive;
    --font-os: 'Oswald', sans-serif;
    --font-ram: 'Rambla', sans-serif;
}

/*global classes*/

.font-staat{
    font: normal 400 18px var(--font-staat);
}
.font-os{
    font: normal 300 18px var(--font-os);
}
.font-ram{
    font: normal bold 18px var(--font-ram);
}

.font-size-40 {
    font-size: 40px;
}
.font-size-34 {
    font-size: 34;
}
.font-size-27 {
    font-size: 27px;
}
.font-size-20 {
    font-size: 20px;
}
.font-size-18 {
    font-size: 18px;
}
.font-size-16 {
    font-size: 16px;
}


.bgcolor-black{
    background-color:var(--color-black);
}


/*#global classes*/

#header {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 0;
    transition:left .5s ease;
}

#header nav{
    height: 100vh;
}

#header .site-title .navbar-brand {
    letter-spacing: 2px;
    color: var(--color-white)
}

#header .nav-link {
    margin:0.7rem 1rem;
    border-bottom: 1px solid var(--color-border);
    text-transform: uppercase;
}

#header .nav-link:hover {
    color: var(--color-white)!important;
}

#header .toggle-button {
    background:none;
    color: var(--color-black);
    position: fixed;
    top: 25px;
    right:20px;
    border: 1px solid var(--color-border);
}

.toggle-left{
    left:0!important;
    /*width:1000px!important;*/
}

/*site-main*/
/* .site-banner {
    background-color: var(--color-black);
} */
.site-banner .banner-area {
    background:url(./assets/img/bg-cover.jpg)no-repeat;
    background-size: cover;
    width:100%;
    height:100vh;
    /* opacity: 0.6; */
    position:relative;
}
.site-banner .banner-area .author{
    margin:0;
    position:absolute;
    top:45%;
    left:50%;
    /* color: var(--color-black); */
    transform:translate(-50%,-50%);
}

.site-banner .banner-area .author .author-img {
    width:200px;
    height: 200px;
    border-radius:50%;
    margin: auto;
    background:url(./assets/img/avatar/1.png)no-repeat;
    /* background-size:200%; */
    background-position: 40% 0; 
    transition: all .3s ease-out;
    z-index:9999;
    border: 15px solid transparent;
}
/* .site-banner .banner-area .author .author-img:hover{
    transform:transition(1.5);
} */

.site-banner .banner-area .author a{
    position:relative;
}
.site-banner .banner-area .author a:hover:before {
    -webkit-animation: none;
    animation:none;
}
.site-banner .banner-area .author a::before {
    content: "";
    border: 70px solid rgba(255,255,255,0.6);
    border-radius: 50%;
    /* height: 120px; */
    /* width: 120px; */
    position: absolute;
    left: -72px;
    /* bottom: 0px; */
    /* transform: translate(-50px, -50px); */
    -webkit-animation: pulsate 1.6s ease-out;
    animation: pulsate 1.6s ease-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    opacity: 0.0;
    z-index: -1;
}

@-webkit-keyframes pulsate {
    0% {
      -webkit-transform: scale(0.6, 0.6);
              transform: scale(0.6, 0.6);
      opacity: 0.0;
    }
    50% {
      opacity: 1.0;
    }
    100% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
      opacity: 0.0;
    }
  }
  @keyframes pulsate {
    0% {
      -webkit-transform: scale(0.6, 0.6);
              transform: scale(0.6, 0.6);
      opacity: 0.0;
    }
    50% {
      opacity: 1.0;
    }
    100% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
      opacity: 0.0;
    }
  }
  
.skill.bars p.site-content.skill.bars span {
    line-height:10px;
}

#footer form .row .col input[type="text"],
#footer form .row .col input[type="email"],
#footer form textarea {
    border: none;
    border-radius:0;
    border-bottom: 1px solid gray;
    padding:1.5rem 1rem;

}

@media screen and (min-width: 768px){
    .toggle-button{
        display:none;
    }
}
/* #site-main */@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;469;500;600;700&family=Rambla:ital,wght@0,400;0,700;1,400;1,700&family=Staatliches&display=swap');

body {
    margin:0;
    padding:0;
}

:root{
    --color-black:#000000;
    --color-white: #ffffff;
    --color-border: #ffffff34;
    --font-staat:'Staatliches', cursive;
    --font-os: 'Oswald', sans-serif;
    --font-ram: 'Rambla', sans-serif;
}

/*global classes*/

.font-staat{
    font: normal 400 18px var(--font-staat);
}
.font-os{
    font: normal 300 18px var(--font-os);
}
.font-ram{
    font: normal bold 18px var(--font-ram);
}

.font-size-40 {
    font-size: 40px;
}
.font-size-34 {
    font-size: 34;
}
.font-size-27 {
    font-size: 27px;
}
.font-size-20 {
    font-size: 20px;
}
.font-size-18 {
    font-size: 18px;
}
.font-size-16 {
    font-size: 16px;
}


.bgcolor-black{
    background-color:var(--color-black);
}


/*#global classes*/

#header {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 0;
    transition:left .5s ease;
}

#header nav{
    height: 100vh;
}

#header .site-title .navbar-brand {
    letter-spacing: 2px;
    color: var(--color-white)
}

#header .nav-link {
    margin:0.7rem 1rem;
    border-bottom: 1px solid var(--color-border);
    text-transform: uppercase;
}

#header .nav-link:hover {
    color: var(--color-white)!important;
}

#header .toggle-button {
    background:none;
    color: var(--color-black);
    position: fixed;
    top: 25px;
    right:20px;
    border: 1px solid var(--color-border);
}

.toggle-left{
    left:0!important;
    /*width:1000px!important;*/
}

/*site-main*/
/* .site-banner {
    background-color: var(--color-black);
} */
.site-banner .banner-area {
    background:url(./assets/img/bg-cover.jpg)no-repeat;
    background-size: cover;
    width:100%;
    height:100vh;
    /* opacity: 0.6; */
    position:relative;
}
.site-banner .banner-area .author{
    margin:0;
    position:absolute;
    top:45%;
    left:50%;
    /* color: var(--color-black); */
    transform:translate(-50%,-50%);
}

.site-banner .banner-area .author .author-img {
    width:200px;
    height: 200px;
    border-radius:50%;
    margin: auto;
    background:url(./assets/img/avatar/1.png)no-repeat;
    /* background-size:200%; */
    background-position: 40% 0; 
    transition: all .3s ease-out;
    z-index:9999;
    border: 15px solid transparent;
}
/* .site-banner .banner-area .author .author-img:hover{
    transform:transition(1.5);
} */

.site-banner .banner-area .author a{
    position:relative;
}
.site-banner .banner-area .author a:hover:before {
    -webkit-animation: none;
    animation:none;
}
.site-banner .banner-area .author a::before {
    content: "";
    border: 70px solid rgba(255,255,255,0.6);
    border-radius: 50%;
    /* height: 120px; */
    /* width: 120px; */
    position: absolute;
    left: -72px;
    /* bottom: 0px; */
    /* transform: translate(-50px, -50px); */
    -webkit-animation: pulsate 1.6s ease-out;
    animation: pulsate 1.6s ease-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    opacity: 0.0;
    z-index: -1;
}

@-webkit-keyframes pulsate {
    0% {
      -webkit-transform: scale(0.6, 0.6);
              transform: scale(0.6, 0.6);
      opacity: 0.0;
    }
    50% {
      opacity: 1.0;
    }
    100% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
      opacity: 0.0;
    }
  }
  @keyframes pulsate {
    0% {
      -webkit-transform: scale(0.6, 0.6);
              transform: scale(0.6, 0.6);
      opacity: 0.0;
    }
    50% {
      opacity: 1.0;
    }
    100% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
      opacity: 0.0;
    }
  }
  
.skill.bars p.site-content.skill.bars span {
    line-height:10px;
}

#footer form .row .col input[type="text"],
#footer form .row .col input[type="email"],
#footer form textarea {
    border: none;
    border-radius:0;
    border-bottom: 1px solid gray;
    padding:1.5rem 1rem;

}

@media screen and (min-width: 768px){
    .toggle-button{
        display:none;
    }
}
/* #site-main */@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;469;500;600;700&family=Rambla:ital,wght@0,400;0,700;1,400;1,700&family=Staatliches&display=swap');

body {
    margin:0;
    padding:0;
}

:root{
    --color-black:#000000;
    --color-white: #ffffff;
    --color-border: #ffffff34;
    --font-staat:'Staatliches', cursive;
    --font-os: 'Oswald', sans-serif;
    --font-ram: 'Rambla', sans-serif;
}

/*global classes*/

.font-staat{
    font: normal 400 18px var(--font-staat);
}
.font-os{
    font: normal 300 18px var(--font-os);
}
.font-ram{
    font: normal bold 18px var(--font-ram);
}

.font-size-40 {
    font-size: 40px;
}
.font-size-34 {
    font-size: 34;
}
.font-size-27 {
    font-size: 27px;
}
.font-size-20 {
    font-size: 20px;
}
.font-size-18 {
    font-size: 18px;
}
.font-size-16 {
    font-size: 16px;
}


.bgcolor-black{
    background-color:var(--color-black);
}


/*#global classes*/

#header {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 0;
    transition:left .5s ease;
}

#header nav{
    height: 100vh;
}

#header .site-title .navbar-brand {
    letter-spacing: 2px;
    color: var(--color-white)
}

#header .nav-link {
    margin:0.7rem 1rem;
    border-bottom: 1px solid var(--color-border);
    text-transform: uppercase;
}

#header .nav-link:hover {
    color: var(--color-white)!important;
}

#header .toggle-button {
    background:none;
    color: var(--color-black);
    position: fixed;
    top: 25px;
    right:20px;
    border: 1px solid var(--color-border);
}

.toggle-left{
    left:0!important;
    /*width:1000px!important;*/
}

/*site-main*/
/* .site-banner {
    background-color: var(--color-black);
} */
.site-banner .banner-area {
    background:url(./assets/img/bg-cover.jpg)no-repeat;
    background-size: cover;
    width:100%;
    height:100vh;
    /* opacity: 0.6; */
    position:relative;
}
.site-banner .banner-area .author{
    margin:0;
    position:absolute;
    top:45%;
    left:50%;
    /* color: var(--color-black); */
    transform:translate(-50%,-50%);
}

.site-banner .banner-area .author .author-img {
    width:150px;
    height: 150px;
    border-radius:50%;
    margin: auto;
    background:url(./assets/img/avatar/1.png)no-repeat;
    /* background-size:200%; */
    background-position: 40% 0; 
    transition: all .3s ease-out;
    z-index:9999;
    border: 15px solid transparent;
}
.site-banner .banner-area .author .author-img:hover{
    transform:scale(1.1);
}

/* .site-banner .banner-area .author a{
    position:relative;
} */
.site-banner .banner-area .author a:hover:before {
    -webkit-animation: none;
    animation:none;
}
.site-banner .banner-area .author a::before {
    content: "";
    border: 70px solid rgba(255,255,255,0.6);
    border-radius: 50%;
    /* height: 120px; */
    /* width: 120px; */
    position: absolute;
    left: -72px;
    /* bottom: 0px; */
    /* transform: translate(-50px, -50px); */
    -webkit-animation: pulsate 1.6s ease-out;
    animation: pulsate 1.6s ease-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    opacity: 0.0;
    z-index: -1;
}

@-webkit-keyframes pulsate {
    0% {
      -webkit-transform: scale(0.6, 0.6);
              transform: scale(0.6, 0.6);
      opacity: 0.0;
    }
    50% {
      opacity: 1.0;
    }
    100% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
      opacity: 0.0;
    }
  }
  @keyframes pulsate {
    0% {
      -webkit-transform: scale(0.6, 0.6);
              transform: scale(0.6, 0.6);
      opacity: 0.0;
    }
    50% {
      opacity: 1.0;
    }
    100% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
      opacity: 0.0;
    }
  }
  
.skill.bars p.site-content.skill.bars span {
    line-height:10px;
}

#footer form .row .col input[type="text"],
#footer form .row .col input[type="email"],
#footer form textarea {
    border: none;
    border-radius:0;
    border-bottom: 1px solid gray;
    padding:1.5rem 1rem;

}

@media screen and (min-width: 768px){
    .toggle-button{
        display:none;
    }
}
/* #site-main */
